/* search box stlye */
.has-search .form-control {
  padding-left: 2.375rem;
  width: 737.15px;
  height: 41.3px;
  border: 0.69px solid #c4c4c4;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
