.chat {
  flex: 4;
  padding: 20px;
}

.channel-list {
  padding: 10px;
  margin: 10px;
  padding-top: 10px;
  box-shadow: 0px 2.68279px 8.04838px 3.35349px rgba(0, 0, 0, 0.06);
}

.chat-new-conservation-btn {
  padding-left: 10px;
}
.chat-new-conservation-btn i {
  font-size: 20px;
}

.chat-new-conservation-btn span {
  padding-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20.121px;
  line-height: 30px;
  color: #7a7a7a;
}

.channel-list-item {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.channel-list-sub-item {
  display: flex;
  align-items: center;
}
.channel-list-sub-item img {
  width: 40px;
  height: 40px;
}
.channel-list-item span {
  font-style: normal;
  font-weight: normal;
  font-size: 13.414px;
  line-height: 20px;
  color: #313131;
}

.channel-list-sub-item h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18.4623px;
  line-height: 32px;
  /* identical to box height */
  padding-left: 8px;
  color: #313131;
  margin-bottom: -5px;
}
.channel-list-sub-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 12.7675px;
  line-height: 25px;
  /* identical to box height */
  padding-left: 8px;
  color: #a0a0a0;
}

/* channel content area start */

/* chat header */
.channel-content-area {
  padding: 20px 10px 10px 0px;
}

.channel-content-header {
  display: flex;
  justify-content: space-between;
}
.channel-content-header-left {
  display: flex;
}

.channel-content-header img {
  width: 45px;
  height: 45px;
}
.channel-content-header h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 20.1451px;
  padding-left: 10px;
  color: #313131;
  margin-bottom: 0;
}
.channel-content-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 12.7554px;
  line-height: 22px;
  padding-left: 10px;
  color: #b3b3b3;
}
.channel-content-header i {
  font-size: 22px;
}
/* chatting */
.chatting-text-with-profile {
  display: flex;
}

.chatting-text-with-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.chatting-text-with-profile h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16.7675px;
  line-height: 25px;
  background: #fafafa;
  padding: 10px;
  border-radius: 6.70698px;
  color: #1d2030;
  margin-bottom: 0px;
}

.chatting-text-with-profile p {
  font-style: normal;
  font-weight: normal;
  font-size: 13.414px;
  line-height: 20px;
  color: #a0a0a0;
}

.cummunicator-chatting {
  padding-left: 400px;
}

/* chat between customer and artist */
.cus-to-art {
  background: #ffffff;
  box-shadow: 0px 1.3414px 8.04838px 3.35349px rgba(0, 0, 0, 0.06);
  border-radius: 5.414px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chatting-between-cus-art {
  display: flex;
}
.chatting-between-cus-art img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2.0121px solid #ff5050;
}
.chatting-between-cus-art h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14.7675px;
  line-height: 25px;
  color: #313131;
  padding-left: 15px;
  margin-bottom: 0px;
}

.chatting-between-cus-art p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  padding-left: 15px;
  color: #a0a0a0;
}

.cus-to-art-time {
  font-style: normal;
  font-weight: normal;
  font-size: 13.414px;
  line-height: 20px;
  color: #a0a0a0;
}

.line-cus-to-art {
  border: 2.0121px solid #ff5050;
  transform: rotate(-90deg);
  width: 26.83px;
  height: 0px;
  position: absolute;
  left: 7.5%;
}

.chat-item-2 {
  padding-top: 16px;
}

/* cus to art chat detail page */
.cus-to-art-chat-detail {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}
.cus-to-art-chat-detail p {
  font-style: normal;
  font-weight: normal;
  font-size: 16.7675px;
  line-height: 25px;
  /* identical to box height */

  color: #a0a0a0;
}
.cus-to-art-chat-detail-profile {
  display: flex;
  position: relative;
}

.cummunicator-detail-chatting {
  padding-left: 290px;
}
.cus-to-art-chat-detail-data {
  display: flex;
  align-items: center;
}
.cus-to-art-chat-detail-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cus-to-art-chat-detail-profile h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18.121px;
  line-height: 30px;
  /* identical to box height */
  padding-left: 10px;
  color: #313131;
}
.line-cus-to-art-detail {
  border: 2.0121px solid #c4c4c4;
  transform: rotate(180deg);
  width: 160.7px;
  height: 0px;
  top: 50%;
  left: 32%;
  position: absolute;
}
.cus-to-art-adject {
  padding-left: 180px;
}
