/* second section info  */
.clients-info-home {
  background: #ffffff;
  border-radius: 6.88282px;
  border: 0.69px solid #c4c4c4;
}
.clients-info-home p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12.6485px;
  line-height: 31px;
  color: #7a7a7a;
}

.clients-info-home h1 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}
.clients-info-home span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17.6485px;
  line-height: 31px;
  color: #313131;
  padding-left: 10px;
  margin-top: 10px;
}
.clients-info-home__header {
  border-bottom: 1px solid #c4c4c4;
  margin-top: 10px;
}
.clients-info-home img {
  width: 33.04px;
  height: 32.35px;
}

.clients-info-home .today {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;

  color: #313131;
}

.clients-info-home .prebooking {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 41px;
  padding-left: 0px;
  color: #313131;
}

.leftsideMove {
  margin-left: 30px;
}

.clients-info-home .cancelled {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 41px;
  /* padding-left: 40px; */
  color: #ff5050;
}

.clients-info-home .booking-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10.7656px;
  line-height: 21px;
  /* identical to box height */

  color: #7a7a7a;
}

/* artist live location start */
.artist-live-location {
  background: #ffffff;
  border-radius: 6.88282px;
  border: 0.69px solid #c4c4c4;
}

.artist-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.artist-head span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20.6485px;
  line-height: 31px;
  color: #313131;
  padding-top: 10px;
}

@media screen and (min-width: 900px) {
  .leftsideMove {
    margin-left: 20px;
  }
  .clients-info-home .booking-text {
    font-size: 9px;
  }
}
@media screen and (min-width: 1000px) {
  .leftsideMove {
    margin-left: 30px;
  }
}
