.partists {
  flex: 4;
  padding-left: 20px;
}

.artist-payment-div {
  padding-left: 0px !important;
}
.make-payment-div {
  padding-left: 0px !important;
}

.make-payment-body label{
  font-style: normal;
font-weight: 500;
font-size: 14.2787px;
line-height: 30px;
/* identical to box height */


color: #7A7A7A;
}


.make-payment-body button{
  background: #313131;
border-radius: 5.40767px;
color: white;
}